fastapi
uvicorn
pydantic
python-dotenv
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
langchain-openai
langgraph
pypdf
pymupdf
sentence-transformers
chromadb
faiss-cpu
scikit-learn
numpy
typesense
requests
